.YellowSubmarineContainer 
{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.inner-container
{
    text-align: center;
    position: absolute;
    width: 100%;
    color: black;
    height: auto;
    margin-top: 200px;
}
.aboutUs
{
  border: solid 5px black;
  background-color: #0693ac;
  color: #fcbf0e;
  text-align: center;
}
#bodyHeader
{
  margin-left: 5px;
}
.person
{
  margin: 10px;
}
.personHead
{
  text-align: center;
}
.portrait
{
  width: 200px;
  height: 200px;
  background-color: #fcbf0e;
  border-radius: 500px;
  border: solid black 5px;
}
#spacing
{
  border: orange solid 2px;
  margin: 25px;
}
p
{
  font-size: large;
}
